.DS_Store
.env*.local
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.pnp.js
.vercel
.yarn/install-state.gz
*.log
*.pem
*.pid
*.seed
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
build/Release
coverage
jspm_packages
lib-cov
logs
next-env.d.ts
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*
