@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f23; /*337 x 5*/
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 14pt;
  min-width: 60em;
}
